<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhi.crm.customer.mapper.CustomerContactsPhoneMapper">
    
    <resultMap type="CustomerContactsPhone" id="CustomerContactsPhoneResult">
        <result property="id"    column="id"    />
        <result property="regionId"    column="region_id"    />
        <result property="regionChineseName"    column="region_chinese_name"    />
        <result property="regionPhonePrefix"    column="region_phone_prefix"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="contactId"    column="contact_id"    />
        <result property="createdUserName"    column="created_user_name"    />
        <result property="createdUserAccount"    column="created_user_account"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedUserName"    column="updated_user_name"    />
        <result property="updatedUserAccount"    column="updated_user_account"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectCustomerContactsPhoneVo">
        select id, region_id, region_chinese_name, region_phone_prefix, phone_number, contact_id, created_user_name, created_user_account, created_time, updated_user_name, updated_user_account, updated_time, is_delete, tenant_id from customer_contacts_phone
    </sql>

    <select id="selectCustomerContactsPhoneList" parameterType="CustomerContactsPhone" resultMap="CustomerContactsPhoneResult">
        <include refid="selectCustomerContactsPhoneVo"/>
        <where>  
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="regionChineseName != null  and regionChineseName != ''"> and region_chinese_name like concat('%', #{regionChineseName}, '%')</if>
            <if test="regionPhonePrefix != null  and regionPhonePrefix != ''"> and region_phone_prefix = #{regionPhonePrefix}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="contactId != null "> and contact_id = #{contactId}</if>
            <if test="createdUserName != null  and createdUserName != ''"> and created_user_name like concat('%', #{createdUserName}, '%')</if>
            <if test="createdUserAccount != null  and createdUserAccount != ''"> and created_user_account = #{createdUserAccount}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedUserName != null  and updatedUserName != ''"> and updated_user_name like concat('%', #{updatedUserName}, '%')</if>
            <if test="updatedUserAccount != null  and updatedUserAccount != ''"> and updated_user_account = #{updatedUserAccount}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectCustomerContactsPhoneById" parameterType="Long" resultMap="CustomerContactsPhoneResult">
        <include refid="selectCustomerContactsPhoneVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCustomerContactsPhone" parameterType="CustomerContactsPhone" useGeneratedKeys="true" keyProperty="id">
        insert into customer_contacts_phone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regionId != null">region_id,</if>
            <if test="regionChineseName != null">region_chinese_name,</if>
            <if test="regionPhonePrefix != null">region_phone_prefix,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="contactId != null">contact_id,</if>
            <if test="createdUserName != null">created_user_name,</if>
            <if test="createdUserAccount != null">created_user_account,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedUserName != null">updated_user_name,</if>
            <if test="updatedUserAccount != null">updated_user_account,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regionId != null">#{regionId},</if>
            <if test="regionChineseName != null">#{regionChineseName},</if>
            <if test="regionPhonePrefix != null">#{regionPhonePrefix},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="contactId != null">#{contactId},</if>
            <if test="createdUserName != null">#{createdUserName},</if>
            <if test="createdUserAccount != null">#{createdUserAccount},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedUserName != null">#{updatedUserName},</if>
            <if test="updatedUserAccount != null">#{updatedUserAccount},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateCustomerContactsPhone" parameterType="CustomerContactsPhone">
        update customer_contacts_phone
        <trim prefix="SET" suffixOverrides=",">
            <if test="regionId != null">region_id = #{regionId},</if>
            <if test="regionChineseName != null">region_chinese_name = #{regionChineseName},</if>
            <if test="regionPhonePrefix != null">region_phone_prefix = #{regionPhonePrefix},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="contactId != null">contact_id = #{contactId},</if>
            <if test="createdUserName != null">created_user_name = #{createdUserName},</if>
            <if test="createdUserAccount != null">created_user_account = #{createdUserAccount},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedUserName != null">updated_user_name = #{updatedUserName},</if>
            <if test="updatedUserAccount != null">updated_user_account = #{updatedUserAccount},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerContactsPhoneById" parameterType="Long">
        delete from customer_contacts_phone where id = #{id}
    </delete>

    <delete id="deleteCustomerContactsPhoneByIds" parameterType="String">
        delete from customer_contacts_phone where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="addContactPhoneList" parameterType="list">
        insert into customer_contacts_phone
        (region_id,region_chinese_name,region_phone_prefix,phone_number,contact_id)
        values
        <foreach collection="list" item="phone" index="index" separator=",">
            (#{phone.regionId}, #{phone.regionChineseName},#{phone.regionPhonePrefix},
            #{phone.phoneNumber},#{phone.contactId})
        </foreach>
    </insert>

    <update id="deleteContactPhoneByContactIdList" parameterType="list">
        update customer_contacts_phone set is_delete = '1'
        where contact_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deletePhoneByContactIdAndPhoneIdList">
        update customer_contacts_phone set is_delete = '1'
        where contact_id = #{contactId}
        and id not in
        <foreach item="id" collection="phoneIdList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>