<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhi.crm.basic.mapper.CountryRegionMapper">
    
    <resultMap type="CountryRegion" id="CountryRegionResult">
        <result property="id"    column="id"    />
        <result property="regionEnglishName"    column="region_english_name"    />
        <result property="regionChineseName"    column="region_chinese_name"    />
        <result property="regionWholeName"      column="region_whole_name"     />
        <result property="regionPhonePrefix"    column="region_phone_prefix"    />
        <result property="pRegionId"    column="p_region_id"    />
        <result property="regionLevel"    column="region_level"    />
        <result property="createdUserName"    column="created_user_name"    />
        <result property="createdUserAccount"    column="created_user_account"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedUserName"    column="updated_user_name"    />
        <result property="updatedUserAccount"    column="updated_user_account"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectCountryRegionVo">
        select id, region_english_name, region_chinese_name,region_whole_name, region_phone_prefix, p_region_id, region_level, created_user_name, created_user_account, created_time, updated_user_name, updated_user_account, updated_time, is_delete from country_region
    </sql>

    <select id="selectCountryRegionList" parameterType="CountryRegion" resultMap="CountryRegionResult">
        <include refid="selectCountryRegionVo"/>
        <where>  
            <if test="regionEnglishName != null  and regionEnglishName != ''"> and region_english_name like concat('%', #{regionEnglishName}, '%')</if>
            <if test="regionChineseName != null  and regionChineseName != ''"> and region_chinese_name like concat('%', #{regionChineseName}, '%')</if>
            <if test="regionWholeName != null and regionWholeName != ''"> and region_whole_name like concat('%', #{regionWholeName}, '%')</if>
            <if test="regionPhonePrefix != null  and regionPhonePrefix != ''"> and region_phone_prefix = #{regionPhonePrefix}</if>
            <if test="pRegionId != null "> and p_region_id = #{pRegionId}</if>
            <if test="regionLevel != null "> and region_level = #{regionLevel}</if>
            <if test="createdUserName != null  and createdUserName != ''"> and created_user_name like concat('%', #{createdUserName}, '%')</if>
            <if test="createdUserAccount != null  and createdUserAccount != ''"> and created_user_account = #{createdUserAccount}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedUserName != null  and updatedUserName != ''"> and updated_user_name like concat('%', #{updatedUserName}, '%')</if>
            <if test="updatedUserAccount != null  and updatedUserAccount != ''"> and updated_user_account = #{updatedUserAccount}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectCountryRegionById" parameterType="Long" resultMap="CountryRegionResult">
        <include refid="selectCountryRegionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCountryRegion" parameterType="CountryRegion" useGeneratedKeys="true" keyProperty="id">
        insert into country_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regionEnglishName != null">region_english_name,</if>
            <if test="regionChineseName != null">region_chinese_name,</if>
            <if test="regionWholeName != null">region_whole_name,</if>
            <if test="regionPhonePrefix != null">region_phone_prefix,</if>
            <if test="pRegionId != null">p_region_id,</if>
            <if test="regionLevel != null">region_level,</if>
            <if test="createdUserName != null">created_user_name,</if>
            <if test="createdUserAccount != null">created_user_account,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedUserName != null">updated_user_name,</if>
            <if test="updatedUserAccount != null">updated_user_account,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regionEnglishName != null">#{regionEnglishName},</if>
            <if test="regionChineseName != null">#{regionChineseName},</if>
            <if test="regionWholeName != null">#{regionWholeName},</if>
            <if test="regionPhonePrefix != null">#{regionPhonePrefix},</if>
            <if test="pRegionId != null">#{pRegionId},</if>
            <if test="regionLevel != null">#{regionLevel},</if>
            <if test="createdUserName != null">#{createdUserName},</if>
            <if test="createdUserAccount != null">#{createdUserAccount},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedUserName != null">#{updatedUserName},</if>
            <if test="updatedUserAccount != null">#{updatedUserAccount},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateCountryRegion" parameterType="CountryRegion">
        update country_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="regionEnglishName != null">region_english_name = #{regionEnglishName},</if>
            <if test="regionChineseName != null">region_chinese_name = #{regionChineseName},</if>
            <if test="regionWholeName != null">region_whole_name = #{regionWholeName},</if>
            <if test="regionPhonePrefix != null">region_phone_prefix = #{regionPhonePrefix},</if>
            <if test="pRegionId != null">p_region_id = #{pRegionId},</if>
            <if test="regionLevel != null">region_level = #{regionLevel},</if>
            <if test="createdUserName != null">created_user_name = #{createdUserName},</if>
            <if test="createdUserAccount != null">created_user_account = #{createdUserAccount},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedUserName != null">updated_user_name = #{updatedUserName},</if>
            <if test="updatedUserAccount != null">updated_user_account = #{updatedUserAccount},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCountryRegionById" parameterType="Long">
        delete from country_region where id = #{id}
    </delete>

    <delete id="deleteCountryRegionByIds" parameterType="String">
        delete from country_region where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>