<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhi.crm.basic.mapper.TimeZoneMapper">
    
    <resultMap type="TimeZone" id="TimeZoneResult">
        <result property="id"    column="id"    />
        <result property="zoneName"    column="zone_name"    />
        <result property="createdUserName"    column="created_user_name"    />
        <result property="createdUserAccount"    column="created_user_account"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedUserName"    column="updated_user_name"    />
        <result property="updatedUserAccount"    column="updated_user_account"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectTimeZoneVo">
        select id, zone_name, created_user_name, created_user_account, created_time, updated_user_name, updated_user_account, updated_time, is_delete from time_zone
    </sql>

    <select id="selectTimeZoneList" parameterType="TimeZone" resultMap="TimeZoneResult">
        <include refid="selectTimeZoneVo"/>
        <where>  
            <if test="zoneName != null  and zoneName != ''"> and zone_name like concat('%', #{zoneName}, '%')</if>
            <if test="createdUserName != null  and createdUserName != ''"> and created_user_name like concat('%', #{createdUserName}, '%')</if>
            <if test="createdUserAccount != null  and createdUserAccount != ''"> and created_user_account = #{createdUserAccount}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedUserName != null  and updatedUserName != ''"> and updated_user_name like concat('%', #{updatedUserName}, '%')</if>
            <if test="updatedUserAccount != null  and updatedUserAccount != ''"> and updated_user_account = #{updatedUserAccount}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectTimeZoneById" parameterType="Long" resultMap="TimeZoneResult">
        <include refid="selectTimeZoneVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTimeZone" parameterType="TimeZone" useGeneratedKeys="true" keyProperty="id">
        insert into time_zone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zoneName != null">zone_name,</if>
            <if test="createdUserName != null">created_user_name,</if>
            <if test="createdUserAccount != null">created_user_account,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedUserName != null">updated_user_name,</if>
            <if test="updatedUserAccount != null">updated_user_account,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zoneName != null">#{zoneName},</if>
            <if test="createdUserName != null">#{createdUserName},</if>
            <if test="createdUserAccount != null">#{createdUserAccount},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedUserName != null">#{updatedUserName},</if>
            <if test="updatedUserAccount != null">#{updatedUserAccount},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateTimeZone" parameterType="TimeZone">
        update time_zone
        <trim prefix="SET" suffixOverrides=",">
            <if test="zoneName != null">zone_name = #{zoneName},</if>
            <if test="createdUserName != null">created_user_name = #{createdUserName},</if>
            <if test="createdUserAccount != null">created_user_account = #{createdUserAccount},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedUserName != null">updated_user_name = #{updatedUserName},</if>
            <if test="updatedUserAccount != null">updated_user_account = #{updatedUserAccount},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTimeZoneById" parameterType="Long">
        delete from time_zone where id = #{id}
    </delete>

    <delete id="deleteTimeZoneByIds" parameterType="String">
        delete from time_zone where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>